<!-- banner, can change image later -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.kayak.com.au/news/wp-content/uploads/sites/23/2018/06/1.-the-nullabor-plain-australia-1.jpg);">
  <div>
    <h1 class="heading">Looking to rent a car?</h1>
    <p class="heading">Find affordable car hire options in Australia</p>
    <!-- placeholder searchbar just for how it looks, needs searchbar logic -->
    <div class="container" id="search-bar">
      <div id="itinerary-input">
        <div class="itinerary">
          <p>Location</p>
          <div class="input">
          </div>
        </div>
        <div class="itinerary">
          <p>Pick up date</p>
          <div class="input">
          </div>
        </div>
        <div class="itinerary">
          <p>Pick up time</p>
          <div class="input">
          </div>
        </div>
        <div class="itinerary">
          <p>Drop off date</p>
          <div class="input">
          </div>
        </div>
        <div class="itinerary">
          <p>Drop off time</p>
          <div class="input">
          </div>
        </div>
      </div>
          <div class="btn"><%= link_to "Search", "#" %></div>
      </div>
    </div>
  </div>
</div>

<!-- Cards Required -->
<div class="container" id="content-container">
  <div class="cards">
  <p>Cards go here if required</p>
  </div>
</div>

<!-- footer -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by LL squad
  </div>
</div>
