.navbar-lewagon {
  justify-content: space-between;
  background: rgb(238, 207, 185);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
