.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom-width: 5px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 40px;
  width: auto;
}

a{
  color: $text
}
