.navbar-lewagon {
  background: $main;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  z-index: 9999;
  margin: 0;
  padding: 0;
  display: block !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  align-items: flex-start;
  margin-top: 0;
  padding: 0;
}

a{
  color: $main;
}

.navi-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logged-name{
  margin-bottom: 0;
}

.nav-link{
  p{
    margin-bottom: 0;
  }
}

.car{
  margin-top: 0;
  padding-top: 0;
}

.navbar-brand{
  margin-top: 0;
  padding: 0;
}

.logoname{
  height: 80px;
}

.left, .right {
  flex-grow: 1;
  flex-basis: 0;
}
